.fundo{
   width: 2280px;
   height: 520px;
   margin: 0;
   padding: 0;
   background-color: #fafaf9;
}

.container{
 max-width: 1000px;
 margin: auto;
 width: 400px;
 height: 450px;
border-radius: 20px;
 background-color: white;
 box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
 background-size: cover;
 



}

#img{
    width: 350px;
    height: auto;
    margin: 12px;
    padding: 10px;
    border-radius: 20px;
}

#p1{
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold;
}

#p2{
    text-align: left;
    margin-left: 20px;
    color: gray;
}

#p3{
    margin-left: 20px;
    color: gray;
}